<div class="container listing">
  <h3>Searched Results</h3>
  <div class="row">
    <div class="col-sm-3" *ngFor="let list of faramerList">
      <div class="card effect6"  (click)="farmerListClick(list.farmerID)">
        <div class="card-body">
          <h5 class="card-title">{{list.farmerName}}</h5>
          <p class="card-text">{{list.stateName}}</p>
          <p class="card-text">Farmer Price: {{list.farmersPrice}}</p>
          <label>Rating : </label>
          <span class="fa fa-star " [ngClass]="{'checked': list.rating-1>=0}"> </span>
          <span class="fa fa-star " [ngClass]="{'checked': list.rating-2>=0}"></span>
          <span class="fa fa-star " [ngClass]="{'checked': list.rating-3>=0}"></span>
          <span class="fa fa-star " [ngClass]="{'checked': list.rating-4>=0}"></span>
          <span class="fa fa-star" [ngClass]="{'checked': list.rating-5>=0}"></span>
          <p>{{list.productName}} : <span>{{list.quantity}}</span></p>

          <!-- <a href="#" class="btn btn-primary">Go somewhere</a> -->
        </div>
      </div>
    </div>
  </div>
</div>
