<div class="container">
    <div class="StartPage">
        <h1>Find Your Needs</h1>
        <form >
            <div class="form-group">
                <label for="sel1">Product</label>
                <select class="form-control" id="sel1" name="sellist1">
                    <option value="" disabled selected hidden>Select the product</option>
                    <option>cotton</option>
                    <option>paddy</option>
                    <option>silk</option>
                    <option>onion</option>
                </select>
                <label for="sel1">Location</label>
                <select class="form-control" id="sel2" name="sellist1">
                    <option value="" disabled selected hidden>Select the location</option>
                    <option>Karnataka</option>
                    <option>Delhi</option>
                    <option>Kerala</option>
                    <option>Andrapradesh</option>
                </select>
                <button type="submit" class="btn btn-primary select">Search</button>
            </div>
        </form>
    </div>
</div>