
  
  
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Selected Crop</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
            <form>
                <div class="product">
                  <label>Product : </label>
                  <span> Tomato</span>
                </div>
                <div class="quantity">
                  <label>Quantity : </label>
                  <input type="number"/>
                </div>
              </form>        
          </div>
          <form action="/action_page.php">
            <div class="container">
              <h4>Enter Your Details</h4>
              <p><small>Please fill in this form to purchase crop</small></p>
              <label for="FN"><b>First Name</b></label>
              <input type="text" placeholder="Enter first name" name="FN" required>

              <label for="LN"><b>Last Name</b></label>
              <input type="text" placeholder="Enter last name" name="LN" required>

              <label for="email"><b>Email</b></label>
              <input type="text" placeholder="Enter Email" name="email" required>
          
              <label for="company"><b>Company</b></label>
              <input type="text" placeholder="Enter company name" name="company" required>

              <label for="address"><b>Address</b></label>
              <textarea class="form-control" placeholder="Enter address" rows="5"></textarea>
              <!-- <input type="textarea" placeholder="Enter address" name="address" required> -->
              <p>By creating an account you agree to our <a target="_blank" href="http://generator.lorem-ipsum.info/terms-and-conditions">Terms & Privacy</a>.</p>
              </div>
              <button type="submit" class="btn registerbtn">Request Crop</button>
          </form>
      </div>
    </div>
